.radioContainer {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 330px;
}

.card img {
  height: 350px;
  object-fit: cover;
}