.container {
  margin: 0 5%;
}

.container a {
  text-decoration: none;
  color: #000;
}

.ColStyle {
  margin: 5px;
  border: 1px solid #e3b7a0;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.ColStyle span {
  font-size: 18px;
  font-weight: 900;
}

.ColStyle:hover {
  background: #bf9270;
  color: #ffffff;
  transition-duration: 500ms;
}
