.container ul {
  margin: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.container ul a {
  text-decoration: none;
  color: #000;
}

.container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  font-weight: 900;
  border: 1px solid #eaeaea;
  cursor: pointer;
}