.container {
  margin: 0 5%;
}

.paragraph {
  padding: 0 30px;
}

.paragraph p {
  text-indent: 32px;
  line-height: 2;
}

.image {
  /* width: 100%; */
  width: 50%;
  object-fit: contain;
}

li {
  list-style: none;
  line-height: 2;
}
