.container {
  margin: 0 5%;
}

.container a {
  text-decoration: none;
  color: #000;
}

.ColStyle {
  margin: 5px;
  border: 1px solid #eadfdf;
  text-align: center;
}

.ColStyle span {
  font-weight: 900;
}

.ColStyle:hover {
  background: #2e8555;
  color: #fff;
  transition-duration: 500ms;
}